
		<div class="card">


            <div class="field">
				<div class="col-12 mb-2 lg:col-4 lg:mb-0">
					<span class="p-input-icon-left">
						<i class="pi pi-phone"></i>
						<input type="text" pInputText placeholder="Email or Phone"/>
					</span>
				</div>
            </div>
            <div class="field">
				<div class="col-12 mb-2 lg:col-4 lg:mb-0">
					<span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
						<input type="text" pInputText placeholder="Name"/>
						
					</span>
				</div>
            </div>

            <div class="field">
				<div class="col-12 mb-2 lg:col-4 lg:mb-0">
					<span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
						<input type="text" pInputText placeholder="Last Name"/>
						
					</span>
				</div>
            </div>
            <div class="field">
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
              <button pButton pRipple label=" &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; Save  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;   " class="p-button-lg" (click)="save()"></button>
            </div>
            </div>

        </div>    














